*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: white;
    font-family: Nunito;
    /* color: white; */
    background-color: white;
}
a{
    text-decoration-line: none;
    color: inherit;
    /* background-color: rgb(19, 35, 47); */
  
}
.search-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin-inline: auto;
    height:2.5rem;
    
    
   
    margin-bottom: 16px;
}
.search-bar input{
    border: 0;
    border-radius: 3px;
    width: 35%;
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    padding-left: 32px;
    /* background-color: rgb(19, 35, 47); */
}
.search-bar input::placeholder{
    /* color: black; */
    font-family: inherit;
    /* color: white; */
    
}
.search-bar select{
    border: 0;
    border-radius: 3px;
    width: fit-content;
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    padding-inline: 16px;
    margin-bottom: 8px;
    font-family: inherit;
    /* background-color: rgb(19, 35, 47);
    color: white; */
}

.search-bar select option{
 
 font-family: inherit;
    
}
main{
    padding: 24px;
    
}
.title{
    font-weight: 800;
}
.header-container{
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
    background-color: white;
    /* background-color: rgb(19, 35, 47); */
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
   color: black;
    
}
#button{
    cursor: pointer;
}

.countries-container{
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    
}

.country-card{
  width: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 24px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  background-color: white;
  color: black;
}

.country-card:hover{
transform: scale(1.05);
box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);
}
.country-card img{
    width: 100%;
    
}

.card-text{
    padding-inline:16px;
}
.card-title{
    font-size: 24px;
    margin-block: 16px;
}
.card-text p{
    margin-block: 10px;
}


#region{
    height: 100%;
}

@media (max-width:768px) {
    .countries-container{
        justify-content: center;
    }
    .title{
        font-size: 16px;
    }
    .header-content p{
        font-size: 12px;
    }
    .search-bar input{
        padding-left: 10px;
        max-width: fit-content;
        font-size: 0.7rem;
    }
    #region{
        max-width: fit-content;
        padding: 0;
        font-size: auto;
    }
}
@media (max-width:280px) {
    #region{
        width: 1rem;
    }
}

.error{
    display: none;
    text-align: center;
    font-size: xx-large;
}